.nav {
    background-color: #000; 
    overflow: hidden;
    float: left; 
    width: 100%;
    position: relative; 
    list-style-type: none;
    margin: 0;
    padding: 10px 20px; 
    color: #fff;
    text-decoration: underline overline; 
    display: block; 
}